@font-face {
    font-family: 'philosopher';
    src: url(../style/Police/Philosopher-Regular.ttf);
}

@font-face {
    font-family: "roboto";
    src: url(../style/Police/Roboto-Regular.ttf);
}

@font-face {
    font-family: "athene";
    src: url(../style/Police/Athene.otf);
}
